//output:../auction.html, doctype:strict
html(lang='en', xmlns:th='http://www.w3.org/1000/xhtml')
  head(th:replace='common/header :: common-header')/
  body
    div(th:replace='common/header :: navbar')/
    h2(style="font-weight:bold;").text-center 交換條款
    .container
      .raw
        div(style='width:1024px;height:800px;overflow-x:hidden;overflow-y:auto;background-color:white; margin:10px auto;')
          p
            | 本使用規範是PetFriends!服務條款的補充條款，當您使用PetFriends!
            | 物資交換時，即表示您已閱讀、瞭解並同意接受本使用規範所訂之所有內容。本規範得隨時修訂並公告於PetFriends! 物資交換上，修訂後之內容自公告時起生效。
          p
            strong
              | 一、關於PetFriends!物資交換
              font(color='#FF3300')  
            br
            |                 PetFriends! 物資交換服務係提供使用者之間交易的平台，刊登之商品是由使用者所自行上傳銷售者，並非PetFriends!所販賣。PetFriends!不參與使用者間之交易，對於出現在拍賣上的商品品質、安全性或合法性，PetFriends!均不予保證。
            br
            |                 當您使用PetFriends! 物資交換時，必須瞭解且遵守以下事項：
          ul
            li 甲方和乙方必須對交易之履行負完全的責任。
            li 甲方和乙方必須自行解決由交易引起的糾紛。
            li 甲方和乙方必須自行負擔因交易而產生的費用。
            li 甲方和乙方必須了解並遵守中華民國相關法律規定。
          |               為確保交易之順利履行，使用者須先行判斷是否有交換該商品之權利、交易標的是否合法，並詳細記載商品資訊及交易條件，甲方於出價競標前，亦應詳細審閱及評估商品說明、乙方評價、交貨方式、條件等訊息，一經得標，交換合約即存在交換雙方間，雙方各自負擔給付價款及交付商品之責任，除法令另有規定外，任一方均不得以任何理由反悔。但「
          a(href='tos_add/classified_rule.html') 特殊分類
          | 」所刊登之資訊性質上屬於廣告，不在此限。 
          p
            strong 二、會員註冊確認程序 
            br
            |                 成為拍賣會員，您必須先完成以下註冊確認程序，步驟依序為：(1)註冊PetFriends!帳號並且登入；(2)確認拍賣會員資料；(3)確認電子信箱；(4)確認手機號碼；(5)同意使用規範，完成以上步驟您即成為拍賣服務會員並能夠使用出價功能。為了提昇交易的安全，我們要求民國92年7月4日（含）以後註冊的新會員，必須通過信用卡認證才能刊登商品。（關於《
            a(href='auction_signup.html') 會員註冊確認程序
            | 》） 
            br
            br
            |                 PetFriends! 物資交換服務僅提供予20 歲以上的個人與有合法登記之法人或團體。若您為未成年人，您應在您的法定代理人同意本規範後，始得使用服務。當您使用或繼續使用拍賣服務時，即表示您的法定代理人已同意接受本規範及其後之修正。
          p
            strong 三、費用
            br
            |                 當您刊登拍賣商品及購買廣告時，須依規定（關於《
            a(href='https://tw.bid.PetFriends.com/help/auct/faq/afee/index.html/afee-01.html') 拍賣收費標準
            | 》）支付刊登功能使用費及廣告費用。上述費用PetFriends!得隨時變更或調整其收費項目或金額，經公告後生效。
            br
            br
            |                 請注意，除本使用規範另有規定者外，您於刊登商品或廣告後，即不得以任何理由拒絕付款或要求退費，PetFriends!依本規範刪除您所刊登的拍賣資訊時，亦同。
          p
            strong 四、服務使用規則
            br
            |                 PetFriends!對於您所刊登之拍賣商品及資訊( 以下稱「拍賣資訊」)不會進行檢查、過濾或其他調查，但仍保留刪除該拍賣資訊之權利。如您違反本使用規範或任何服務使用說明或拍賣資訊有違法之虞，PetFriends!
            |                 有權不經通知立即刪除您所刊登的拍賣資訊且終止您使用拍賣服務的權利，情節嚴重時並得終止您使用PetFriends! 其他服務。如因您所刊登之拍賣資訊商品侵害第三人權利或違反法令，致PetFriends!受第三人追償或受主管機關處分時，您應賠償PetFriends!因此所生之一切損失及費用。
          p 使用PetFriends!物資交換服務應遵守下列規定：
          ul
            li
              | 您不得刊登禁止及限制的商品《
              a(href='tos_add/items.html') 禁止刊登商品
              | 》。
            li
              | 您不得違反刊登行為之規範《
              a(href='tos_add/listing.html') 違規刊登行為
              | 》。
            li
              | 您不得違反會員評價之規範《
              a(href='feedback.html') 會員評價制度
              | 》。
            li 對於您交換之商品如已有甲方得標時，您即有責任按照得標金額與其他約定之交易條件交換該商品。
            li 對於您已經得標的商品，您即有責任按照得標金額與其他約定之交易條件付款。
            li
              | 您不得操縱拍賣，或干擾正常之拍賣與競標程序。
              br
              |                   例如：
              br
              |                   1. 利用多重帳號對自己的拍賣物品進行出價，故意抬高最高出價。
              br
              |                   2. 在其他乙方進行拍賣時與對其出價的甲方接洽，向甲方兜售類似或相同物品。
          p
            strong 五、授權 
            br
            |                 任何拍賣商品資料（含廣告內容）一經您上載、傳送、輸入或提供至PetFriends!物資交換時，視為您已允許PetFriends!可以為宣傳PetFriends!物資交換服務或拍賣商品（包括您的或他人的）之目的，無條件重製、散布、修改、展示、公開播送、公開傳輸該等資料，您對此絕無異議。
          p
            strong 六、交易安全注意事項
            br
            |                 網路上的身份認證是很困難的，因此我們提供會員評價制度、會員註冊與確認程序、黑名單制度、檢舉商品、檢舉詐欺及棄標處理等機制，藉由確實的交易紀錄與網友守望相助的力量共同來維護線上交易環境。雖有這些機制，使用者於交易時仍應謹慎為之（關於《
            a(href='https://tw.bid.PetFriends.com/help/auct/safety/') 交易安全
            | 》）。
          p
            strong 七、服務中止
            br
            |                 拍賣服務宗旨在於提供24小時不間斷的網路拍賣活動，保持系統不間斷以及各項服務功能的隨時正常運作是PetFriends!全體工作人員努力的目標。除因不可抗力事件或因其他不可歸責於PetFriends!之事由所致者外，若由於PetFriends!物資交換服務之系統維護、更新、故障或中斷，使您暫時無法使用全部或部分的拍賣服務功能時，PetFriends!物資交換服務將依下列情況分別提供您適當的補償（關於《
            a(href='refund_policy.html') PetFriends!物資交換補償辦法
            | 》）。
            br
            br
            strong 八、責任範圍
            br
            |                 除本使用規範另有規定外，PetFriends!對於您因使用拍賣服務所生之損害不負任何補償或賠償責任，惟如依法令規定PetFriends!因此應負損害賠償責任時，您瞭解並同意PetFriends!所負之責任應不逾您當次就使用PetFriends!物資交換服務所支付之費用。
          p
            strong 九、免責約款 
            br
            |                 PetFriends!僅以「現狀」提供服務，對下述事項不為保證：
            br
            |                 ．PetFriends!物資交換系統符合使用者的需求；
            br
            |                 ．PetFriends!物資交換內容及系統程式不發生錯誤或障礙等情事。
          p
            strong 十、稅務申報 
            br
            |                 依中華民國所得稅法及營業稅法之規定，您使用PetFriends!物資交換銷售商品之所得應申報並繳納所得稅及營業稅：
          p
            | ．個人
            br
            |                 您如果是以個人名義銷售商品時，應於每年申報所得稅時，一併申報及繳納銷售商品的所得。 但您如果是常態性的銷售商品，而不僅僅是偶一為之者，應依商業登記法、所得稅法、營業稅法等相關規定，辦理營利事業登記，除依法申報並繳納營利事業所得稅外，並應依法領用發票並於銷售時開立發票，或依法開立收據，繳納營業稅。
          p
            | ．營利事業
            br
            |                 您如果是以營利事業（例如公司或商號）名義銷售商品，您銷售商品的所得，應計入該公司或商號營利事業所得，並於每年申報所得稅時，依法申報並繳納營利事業所得稅。銷售商品時，並應依法開立統一發票或收據，繳納營業稅。
          p
            strong 十一、準據法與管轄法院
            br
            |                 本使用規範之解釋與適用，以及與本約定書有關的爭議，均應依照中華民國法律予以處理。您並同意以台灣台北地方法院為第一審管轄法院。
          p
            strong 十二、本使用規範之適用與修正
            br
            |                 PetFriends! 物資交換上之所有服務說明均為本使用規範之一部分，PetFriends!有權於任何時間修改或變更本使用規範之內容，建議您隨時注意該等修改或變更。本使用規範如有任何重大變更或修正時，PetFriends!會以公告或電子郵件通知您，敬請隨時注意PetFriends!物資交換公告事項及您所註冊信箱內之郵件。
        br
        div(style="width:1100px; margin:10px auto;")
          hr
        br
        table(border='0', cellpadding='0', cellspacing='0', width='88%')
          tbody
            tr
              td.maf(align='center')
                | PetFriends 版權所有 © 2017 PetFriends! Taiwan Inc. All 
                | Rights Reserved.
                br
                a(href='#') 隱私權政策
                |  - 
                a(href='#') 服務條款
                |         - 
                a(href='#') 政策與規則
                |         - 
                a(href='#') 交易安全
        // end of copyright
    div(th:replace='common/header :: footer')/
    div(th:replace='common/header :: body-bottom-scripts')/
