<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
  <head th:replace="common/header :: common-header"/>
  <body>
    <div id="nav"></div>
    <div th:replace="common/header :: navbar"/>
    <div class="container">
      <div style="margin-bottom: -100px;" class="row">
        <div class="col-xs-8">
          <h2 class="section-headline">
            <h2 class="section-headline"><span th:text="${user}? '使用者'+${#strings.toUpperCase(user.username)}+'您好' : '物資詳細'"></span></h2>
          </h2>
        </div>
        <div class="col-xs-4"></div>
      </div>
      <hr style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/><img src="/imgs/wood.png" style="margin-top: -75px;" class="img-responsive"/>
      <form th:action="@{/shoppingCart/addItem}" method="post">
        <input hidden="hidden" th:field="*{book.id}"/>
        <div style="margin-top: 120px;" class="row">
          <div class="col-xs-3"><img th:src="@{/imgs/book/}+${book.id}+'.png'" class="img-responsive shelf-book"/></div>
          <div class="col-xs-9">
            <h3><span th:if="${addBookSuccess}" style="color: forestgreen"><i aria-hidden="true" style="color: forestgreen" class="fa fa-check"></i>加到購物車</span></h3>
            <h3><span th:if="${notEnoughStock}" style="color: red">抱歉，庫存只剩：<span th:text="${book.inStockNumber}"></span></span></h3>
            <h3 th:text="${book.title}">物資名稱</h3>
            <div class="row">
              <div class="col-xs-5">
                <h5><strong>製造商：</strong><span th:text="${book.author}"></span></h5>
                <p><strong>經銷商： </strong><span th:text="${book.publisher}"></span></p>
                <p><strong>製造日期： </strong><span th:text="${book.publicationDate}"></span></p>
                <p><strong>產地： </strong><span th:text="${book.language}"></span></p>
                <p><strong>分類： </strong><span th:text="${book.category}"></span></p>
                <p><strong>單位重量：<span th:text="${book.format}"></span>:</strong><span th:text="${book.numberOfPages}"> 重量</span></p>
                <p><strong>相關認證字號： </strong><span th:text="${book.isbn}"></span></p>
                <p><strong>運費： </strong><span th:text="${book.shippingWeight}"> 一次</span></p>
              </div>
              <div class="col-xs-7">
                <div style="border-width: 5px; margin-top: 20px;" class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <h4>賣家價：<span style="color:#db3208;">$<span th:text="${book.ourPrice}"></span></span></h4>
                        <p>公司價： <span style="text-decoration: line-through">$<span th:text="${book.listPrice}"></span></span></p>
                        <p>你省下 $ <span th:text="${#numbers.formatDecimal((book.listPrice - book.ourPrice), 0, 'COMMA', 2, 'POINT' )}"></span></p><span>數量: </span>
                        <select name="qty">
                          <option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}"></option>
                        </select>
                      </div>
                      <div class="col-xs-6">
                        <h4 th:if="*{book.inStockNumber&gt;10}" style="color: green">市價</h4>
                        <h4 th:if="*{book.inStockNumber&lt;10 and book.inStockNumber&gt;0}" style="color: green">只剩下 <span th:text="${book.inStockNumber}"> </span> 的庫存</h4>
                        <h4 th:if="*{book.inStockNumber==0}" style="color:darkred;">無法訂購</h4>
                        <button type="submit" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;" class="btn btn-warning">加到交換手提藍</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
            <p th:utext="${book.description}"></p>
          </div>
        </div>
      </form>
    </div>
    <!-- end of container-->
    <div style="position: relative; top: 60px; width: 100%; margin-top: 60px; padding:20px 0;" class="py-5 bg-theme text-center">
      <div class="container">
        <div class="row">
          <div class="col-4 col-md-4"><a th:href="@{/bookshelf}" style="color:#fff"><i class="fa fa-5x fa-fw fa-arrow-left"></i></a></div>
          <div class="col-4 col-md-4"><a th:href="@{/bookshelf}" style="color:#fff"><i class="fa fa-5x fa-fw fa-archive"></i></a></div>
          <div class="col-4 col-md-4"><a href="#nav" style="color:#fff"><i class="fa fa-5x fa-fw fa-chevron-circle-up"></i></a></div>
        </div>
      </div>
    </div>
    <div th:replace="common/header :: footer"/>
    <div th:replace="common/header :: body-bottom-scripts"/>
  </body>
</html>